<% content_for :title, t("help.page_title") + " - " + t("metrics.#{@hkey}.title", default: :"metrics.upviews.title") %>

<% content_for :page_class, "content-data__help" %>
<% content_for :local_nav do %>
  <div class="local-nav govuk-grid-column-one-quarter">
    <a href="/content" class="local-nav__search-link govuk-link govuk-link--no-visited-state" data-gtm-id="back-link">Search</a>
  </div>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t("metrics.#{@hkey}.title", default: :"help.title.default") %></h1>
    <p class="govuk-body"><%= t("metrics.#{@hkey}.about", default: :"help.about.default") %></p>
  </div>
</div>
