.content-data__compare {

  .local-nav {
    text-align: right;
    @include govuk-responsive-margin(2, "top");
  }

  .local-nav__search-link {
    display: block;
    @include govuk-responsive-margin(0, "top");
    @include govuk-responsive-margin(4, "right");
  }

  .gem-c-phase-banner {
    @include govuk-responsive-padding(3, "left");
  }

  .content-wrapper {
    @include govuk-responsive-padding(8, "top");
    @include govuk-responsive-padding(4, "left");
    @include govuk-responsive-padding(4, "right");
  }

}
