<%
  base_path ||= false
  current_selection ||= false
  render_button ||= false
  submit_button_text = t ".submit_button"
  compact ||= false

  if dates.length > 1
    dates.each {|d| d[:bold] = "true"}
  end

  selectable = dates.find {|d| d[:value] == current_selection}
  if selectable
    selectable[:checked] = true
  end
%>
<% if dates.length > 1 && current_selection %>
  <div class="app-c-time-select <% if compact %> app-c-time-select--compact<% end %>" data-gtm-id="time-period-options">
    <%if compact %>
      <h2 class="govuk-heading-s app-c-time-select__heading"><%= t '.title_compact', time_period: dates.find {|d| d[:value] == current_selection }[:text] %></h2>
    <% else %>
      <h2 class="govuk-heading-l app-c-time-select__heading"><%= t '.title', time_period: dates.find {|d| d[:value] == current_selection }[:text] %></h2>
    <% end %>

        <%= render "govuk_publishing_components/components/radio", {
          name: "date_range",
          items: dates
        } %>
        <% if render_button != false %>
          <%= render "govuk_publishing_components/components/button", {text: submit_button_text} %>
        <% end %>

  </div>
<% end %>
