$govuk-tertiary-text-colour: #6a7276;
$sort-link-active-colour: govuk-colour("white");
$sort-link-arrow-size: 14px;
$sort-link-arrow-size-small: 8px;
$sort-link-arrow-spacing: 4px;


.content-data__index {
  .gem-c-pagination {

    @include media(mobile) {
      @include govuk-responsive-padding(3, "left");
    }
  }

  .table-caption {
    @include govuk-font(16);
    @include media(mobile) {
      @include govuk-responsive-padding(3, "left");
    }

  }

  .table-caption__param {
    @include govuk-font($size: 16, $weight: bold);
  }

  .table__header-title {
    display: inline-block;
    height: 100%;
  }

  .table__header-help {
    display: inline-block;
    height: 100%;
    @include govuk-responsive-margin(1, "top");
  }


  .table__sort-link {
    @include govuk-link-style-no-visited-state;
    @include govuk-focusable-fill;
    position: relative;
    padding-right: $sort-link-arrow-size;
    color: $govuk-link-colour;
    text-decoration: none;


    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;

      @include govuk-shape-arrow($direction: up, $base: $sort-link-arrow-size-small, $display: block);
    }

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      right: 0;

      @include govuk-shape-arrow($direction: down, $base: $sort-link-arrow-size-small, $display: block);
    }
  }

  .table__sort-link--asc,
  .table__sort-link--desc {
    .table__header-title {
      @include govuk-responsive-padding(1, "right");
    }
  }

  .table__sort-link--asc::before,
  .table__sort-link--desc::before {
    content: none;
  }

  .table__sort-link--asc::after {
    content: "";
    position: absolute;
    top: $sort-link-arrow-spacing;
    right: 0;

    @include govuk-shape-arrow($direction: up, $base: $sort-link-arrow-size, $display: inline-block);
  }

  .table__sort-link--desc::after {
    content: "";
    position: absolute;
    top: $sort-link-arrow-spacing;
    right: 0;

    @include govuk-shape-arrow($direction: down, $base: $sort-link-arrow-size, $display: inline-block);
  }

  .govuk-table {
    background-color: $white;
    // re-align text content of left and right columns
    margin-top: -1px;
  }

  .govuk-table__body {
    outline: 1px solid $govuk-border-colour;
  }

  .govuk-table__cell {
    @include govuk-font(14);
    @include govuk-responsive-padding(2);
    @include govuk-responsive-padding(3, "left");
    @include govuk-responsive-padding(3, "right");
  }

  .govuk-table__cell--shaded {
    background-color: govuk-colour("grey-4");
  }

  .govuk-table__cell--numeric {
    @include govuk-font($size: 14, $tabular: true);
  }

  .gem-c-layout-for-admin .govuk-grid-row {
    margin: 0;
  }

  .govuk-table .govuk-table__header {
    color: $govuk-text-colour;
    position: sticky;
    top: 0;
    white-space: nowrap;
    vertical-align: top;

    @include govuk-responsive-padding(3);
    @include govuk-responsive-padding(2, "bottom");

    @include govuk-font(14);
    outline: 1px solid $govuk-border-colour;

    background-color: govuk-colour("grey-3");
    font-weight: normal;

    &.govuk-table__header--sorted {
      background-color: govuk-colour("blue");

      .table__sort-link {
        color: $white;
      }
    }
  }

  .table-wrapper {
    min-width: 900px;
    background-color: $white;
    @include govuk-responsive-padding(6, "right");
  }

  .satisfaction-column__responses {
    color: $govuk-tertiary-text-colour;
  }

  .filter-form {
    @include govuk-responsive-padding(6, "left");

    .govuk-label--s {
      @include govuk-font($size: 16, $weight: bold);
    }

    .govuk-radios__hint {
      @include govuk-font(16);
    }
  }

  .filters-control__wrapper {
    border-bottom: 1px solid $govuk-border-colour;
    @include govuk-responsive-padding(3, "left");
  }

  .filter-form__filters {
    @include govuk-responsive-padding(6, "top");

    .govuk-label {
      @include govuk-font($size: 16, $weight: bold);
    }

    .govuk-select {
      @include govuk-font(16);
    }

  }

  .filter-form__clear-link {
    display: block;
    @include govuk-responsive-padding(2, "top");
    @include govuk-responsive-margin(4, "top");

    @include govuk-media-query($from: desktop) {
      float: left;
      @include govuk-responsive-margin(4, "left");
      @include govuk-responsive-margin(0, "top");
    }
  }

  .filters-control {
    display: block;
    @include govuk-responsive-padding(3, "bottom");
  }


  .gem-c-button {
    @include govuk-media-query($from: desktop) {
      float: left;
    }

  }

  .gem-c-phase-banner {
    @include govuk-responsive-padding(3, "left");
  }

  .govuk-section-break {
    clear: left;
  }

  .download-link {
    display: block;
    @include govuk-responsive-margin(6, "top");
  }

}
