.content-data__index {
  .gem-c-pagination {

    @include media(mobile) {
      @include govuk-responsive-padding(3, "left");
    }
  }

  .table-header {
    @include govuk-font(16);
    @include media(mobile) {
      @include govuk-responsive-padding(3, "left");
    }
  }

  .govuk-table--sortable {
    outline: none;
  }

  .table-header__param {
    @include govuk-font($size: 16, $weight: bold);
  }

  .govuk-table {
    background-color: $white;
    // re-align text content of left and right columns
    margin-top: -1px;
  }

  .govuk-table__header {
    @include govuk-font(14);
    outline: 1px solid $govuk-border-colour;
  }

  .govuk-table__body {
    outline: 1px solid $govuk-border-colour;
  }

  .govuk-table__cell {
    @include govuk-font(14);
    @include govuk-responsive-padding(2);
  }

  .govuk-table__cell--numeric {
    @include govuk-font($size: 14, $tabular: true);
    @include govuk-responsive-padding(2);
  }

  .gem-c-layout-for-admin .govuk-grid-row {
    margin: 0;
  }

  .govuk-table .govuk-table__header {
    color: $govuk-text-colour;
    position: sticky;
    top: 0;
  }

  .govuk-table .govuk-table__header {
    @include govuk-responsive-padding(2);
    background-color: $grey-3;
    font-weight: normal;
  }

  .govuk-table__cell:last-child {
    @include govuk-responsive-padding(2);
  }

  .table-wrapper {
    min-width: 900px;
    background-color: $white;
  }

  .filter-form {
    @include govuk-responsive-padding(3, "left");

    .govuk-label--s {
      @include govuk-font($size: 16, $weight: bold);
    }

    .govuk-radios__hint {
      @include govuk-font(16);
    }
  }

  .filters-control__wrapper {
    border-bottom: 1px solid $govuk-border-colour;
    @include govuk-responsive-padding(3, "left");
  }

  .filter-form__filters {
    @include govuk-responsive-padding(3, "top");

    .govuk-label {
      @include govuk-font($size: 16, $weight: bold);
    }

    .govuk-select {
      @include govuk-font(16);
    }

  }

  .filters-control {
    display: block;
    @include govuk-responsive-padding(3, "bottom");
  }

  .gem-c-phase-banner {
    @include govuk-responsive-padding(3, "left");
  }
}
