<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds content-metrics" data-gtm-id="content-metrics">
    <h2 class="section-content__header content-metrics__header">
      Accessibility Issues (<%= local_assigns[:level] %>)
    </h2>
    <ul>
        <% local_assigns[:accessibility_issues].issue_list.each do |issue| %>
        <li><%= issue.help.title%></li>
        <%# Also available: issue.conformance, issue.difficulty, issue.help.description, issue.occurrences, issue.rule_id %>
        <%end%>
    </ul>
  </div>
</div>