<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds content-metrics" data-gtm-id="content-metrics">
    <h2 class="section-content__header content-metrics__header">
      accessibility Issues
    </h2>
    <ul>
        <% @accessibility_issues.issue_list.each do |issue| %>
        <li><%= issue.help.title%></li>
        <%end%>
    </ul>
  </div>
</div>