<div class="govuk-grid-column-one-quarter glance-metric <%=metric_name%>">
  <%= render "components/glance-metric", {
      name: @performance_data.metric_short_title(metric_name),
      figure: total,
      context: context,
      trend_percentage: 0,
      period: @performance_data.period
    } %>
</div>
