<%
  data_source = t("metrics.#{metric_name}.data_source")
%>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "components/info-metric", {
        name: t("metrics.#{metric_name}.title"),
        figure: number_with_delimiter(value, delimiter: ','),
        context: t("metrics.#{metric_name}.summary"),
        trend_percentage: 0,
        period: t("metrics.show.time_periods.#{@time_period}.reference"),
        about: t("metrics.#{metric_name}.about"),
        data_source: t("data_sources.#{data_source}")
    } %>
  </div>
</div>
