<%
  show_trend ||= false
  short_context ||= false
  custom_month_selected ||= false
  if defined?(context_value)
    context = t("metrics.#{metric_name}.summary", context_value)
  else
    context = t("metrics.#{metric_name}.summary")
  end
  data_source = t("metrics.#{metric_name}.data_source")
  time_period = @performance_data.date_range.time_period
  options = {
    name: t("metrics.#{metric_name}.title"),
    figure: number_with_delimiter(value, delimiter: ','),
    context: context,
    data_source: t("data_sources.#{data_source}"),
    about: t("metrics.#{metric_name}.about"),
    about_label: @performance_data.metric_about_label(metric_name)
  }

  if show_trend
    if custom_month_selected
      options.update({
        trend_percentage: @performance_data.trend_percentage(metric_name),
        period: t("metrics.show.time_periods.custom-month.reference")
      })
    else
      options.update({
        trend_percentage: @performance_data.trend_percentage(metric_name),
        period: t("metrics.show.time_periods.#{time_period}.reference")
      })
    end
  end

  if short_context
    options.update({ short_context: short_context })
  end
%>
<div class="govuk-grid-row">
  <div class="metric" data-gtm-id="metric-summary">
    <%= render "components/info_metric", options %>
  </div>
</div>
