<div class="metric-summary__<%= metric_name %>">
  <%= render 'metric_header', {
    metric_name: metric_name,
    value: total,
    show_trend: true,
    short_context: short_context
  }%>
</div>

<%= render 'chart', series: @performance_data.get_chart(metric_name) %>
<a href="" class="govuk-link govuk-body-s"><%= t ".download_link", metric_name: t("metrics.#{metric_name}.title") %></a>
