// Include our GOV.UK components
@import "../../../node_modules/govuk-frontend/helpers/visually-hidden";

.gem-c-details {
  margin-bottom: 0;
}

.app-c-chart__table-wrapper {
  overflow: auto;
}

.app-c-chart__table {

  max-height: 350px;
  margin-top: govuk-spacing(3);

  @include media(mobile) {
    max-height: 250px;

  }

  .govuk-details__summary-text {
    @include govuk-font(16);
  }

  .govuk-table {
    .govuk-table__header {
      border: none;
      background-color: $white;
      @include govuk-font($size: 14, $weight: bold);
      text-align: center;
      min-width: 4em;
    }

    .govuk-table__body {
      .govuk-table__cell {
        @include govuk-font(14);
        border-top: 1px solid $black;
      }
    }

    .govuk-table__cell {
      @include govuk-font(14);
      border: 0;
      text-align: center;
    }

  }

  .govuk-table {
    width: auto;
  }

  .govuk-table__header--stacked {
    max-width: 15%;
  }

  .govuk-table__header--stacked[scope=row] {
    max-width: 20%;
  }

}

.app-c-chart__accessibility-message {
  @include govuk-visually-hidden;
}

// This breaks our BEM markup but is injected by the charting library and can't be avoided
// scss-lint:disable IdSelector
.app-c-chart {
  #chart-1,
  #chart-2,
  #chart-3,
  #chart-4,
  #chart-5,
  #chart-6,
  #chart-7 {
    height: 350px;
  }

  @include media(mobile) {
    #chart-1,
    #chart-2,
    #chart-3,
    #chart-4,
    #chart-5,
    #chart-6,
    #chart-7 {
      height: 250px;
    }
  }
}
// scss-lint:enable IdSelector
