$ga-data-notice-border-colour: #626a6e;

.ga-data-notice {
  margin-top: 0;
  background-color: $govuk-grey-background-colour;
  border-left: 5px solid $ga-data-notice-border-colour;

  @include govuk-media-query($from: desktop) {
    .govuk-body {
      max-width: 34em;
    }
  }
}
