@import "../../../node_modules/govuk-frontend/helpers/colour";
@import "../../../node_modules/govuk-frontend/helpers/visually-hidden";

.app-c-glance-metric {
  @include govuk-responsive-margin(6, "bottom");
  border-top: 1px solid $govuk-border-colour;
  border-bottom: 1px solid $govuk-border-colour;

  @include media(mobile) {
    border-bottom: 0;
  }
}

.app-c-glance-metric__heading {
  @include govuk-responsive-margin(3, "top");
  @include govuk-responsive-margin(1, "bottom");
  @include govuk-responsive-padding(3, "top");
  min-height: 2.6em;


  @include media-down(tablet) {
    min-height: 4em;
  }

  @include media-down(mobile) {
    min-height: 0;
  }
}

.app-c-glance-metric__figure {
  @include govuk-font($size: 36, $weight: bold);
  @include govuk-responsive-margin(1, "bottom");

  @include media-down(mobile) {
    @include govuk-font($size: 48, $weight: bold);
  }
}

.app-c-glance-metric__context {
  min-height: 5em;
  border-bottom: 1px solid $govuk-border-colour;

  @include media-down(mobile) {
    @include govuk-font(16);
    min-height: 0;
    border-bottom: 0;
  }
}

.app-c-glance-metric__trend {

  @include media-down(mobile) {
    @include govuk-font(24);
  }
}

.app-c-glance-metric__trend-text {
  @include govuk-visually-hidden;
}

.app-c-glance-metric__trend-icon {
  color: $grey-1;

  @include media-down(mobile) {
    @include govuk-font(19);
  }
}

.app-c-glance-metric__period {
  @include govuk-responsive-margin(6, "bottom");

  @include media-down(mobile) {
    @include govuk-font(16);
  }
}
