.app-c-info-metric__heading {
  @include govuk-responsive-margin(6, "top");
  @include govuk-responsive-margin(1, "bottom");
}

.app-c-info-metric__trend {
  @include govuk-responsive-margin(2, "left");
}

.app-c-info-metric__trend-text {
  @include govuk-visually-hidden;
}

.app-c-info-metric__context {
  margin-bottom: 0;
}

.app-c-info-metric__trend-icon {
  color: $grey-1;
}

.app-c-info-metric__period {
  @include govuk-responsive-margin(2, "left");
}

.app-c-info-metric__about {
  @include govuk-responsive-margin(1, "top");
}

.app-c-info-metric__words {
  @include govuk-responsive-margin(1, "top");
}

.app-c-info-metric {

  @include govuk-responsive-margin(3, "left");
  @include govuk-responsive-margin(3, "right");
  @include govuk-responsive-margin(2, "bottom");

  .govuk-details__summary-text {
    @include govuk-font(16);
  }

  .govuk-details__text {
    @include govuk-font(16);
  }

  .app-c-info-metric__short-context {
    @include govuk-font(19);
  }

}

.govuk-grid-column-one-third {

  .app-c-info-metric {
    @include govuk-responsive-margin(1, "left");
  }
}
