.app-c-metadata__title {
  @include grid-column( 1 / 5);
  padding: 0;
  margin: 0;

  @include media-down(mobile) {
    @include grid-column( 1 / 4, mobile );
    padding: 0;
    margin: 0;
  }
}

.app-c-metadata__description {

  @include media-down(mobile) {
    @include grid-column( 3 / 4, mobile );
    padding: 0;
    margin: 0;
  }
}
