.app-c-metadata__list {
  width: 100%;
  border-spacing: 0;
}

.app-c-metadata__title {
  width: 20%;
  vertical-align: top;
  text-align: left;
  font-weight: normal;
  padding: 0;
}

.app-c-metadata__description {
  padding: 0;
}


