$govuk-global-styles: true;

// gem components
@import 'govuk_publishing_components/all_components';

// TODO: remove the font-face include when govuk_publishing_components doesn't
// rely on govuk_template and has $govuk-compatibility-govuktemplate set to false
@include _govuk-font-face-nta;

// local components
@import "components/chart";
@import "components/glance-metric";
@import "components/info-metric";
@import "components/metadata";
@import "components/time-select";
@import "components/related-actions";

// local views
@import "metrics/show";
@import "content/index";

.gem-c-environment-tag {
  @media (max-width: 360px) {
    @include govuk-font($size: 14);
  }
}

.govuk-header__link--homepage {
  @media (max-width: 360px) {
    @include govuk-font($size: 24);
  }

}

.banner {
  border-bottom: 1px solid $govuk-border-colour;
}

.gem-c-phase-banner {
  border: none;
}

.govuk-main-wrapper {
  @include govuk-responsive-padding(2, "top");
}

.local-nav__search-link {
  display: block;
  @include govuk-responsive-margin(2, "top");
  text-align: right;
}

//overrides must be imported last
@import "govuk-frontend/overrides/all";
