.content-data__metrics {

  .govuk-heading-xl {
    @include govuk-responsive-margin(7, "bottom");
  }

  .section-metadata {
    @include govuk-responsive-margin(2, "bottom");
  }

  .app-c-related-actions__link {
    @include govuk-responsive-margin(2, "right");
  }

  .section-performance {

    @include media-down(mobile) {
      border-top: 1px solid $govuk-border-colour;
    }
  }

  .section-performance__header {
    @include govuk-font($size: 36, $weight: bold);
    margin: 0;

    @include media-down(mobile) {
      @include govuk-responsive-margin(3, "top");
    }
  }

  .section-content {
    padding: 0;
  }

  .section-content__header {
    @include govuk-font($size: 36, $weight: bold);
    margin: 0;
  }

  .section-content__quality {
    @include govuk-responsive-margin(2, "left");
    @include govuk-responsive-margin(2, "right");
  }

  .govuk-section-break--visible {
    border-width: 1px;
  }

  .metric-summary__words {

    @include media-down(mobile) {
      width: 95%;
      border-bottom: 1px solid $govuk-border-colour;
    }
  }

  .metric-summary__reading-time {

    @include media-down(mobile) {
      width: 95%;
      border-bottom: 1px solid $govuk-border-colour;
    }
  }

  .banner {
    margin: 0;
    @include govuk-responsive-margin(4, "bottom");
    border-bottom: 1px solid $govuk-border-colour;

    .govuk-grid-column-three-quarters {
      padding: 0;
    }
  }

  .govuk-width-container .local-nav {
    text-align: right;
    @include govuk-responsive-margin(2, "top");
  }
}
