<% content_for :title, "Sending CSV export" %>
<% content_for :page_class, "content-data__index" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/back_link", {
      href: "/content",
      text: "Back to search"
    } %>
    <h1 class="govuk-heading-xl">Sending CSV export</h1>
    <p>An email will be sent to example@example.com with the CSV attachment.</p>
  </div>
</div>
